<h1 class="row justify-content-center">Registration Form</h1>
<div class="row justify-content-center">
 <div>
     <form  [formGroup]="registerForm" class="col-sm-12">
         <div class="form-group row">
              <label class="col-sm-6" for="username">User Name</label> 
     <input type="name" class="form-control col-sm-6" placeholder="Enter Name" formControlName="Username" id="name"> 
         </div>
          <div class="form-group row">
            <label class="col-sm-6" for="email">Email Address:</label>
              <input type="email" class="form-control col-sm-6" placeholder="Enter Email"formControlName="email"id="email">
         </div>
            <div class="form-group row">
              <label class="col-sm-6" for="pwd">Password:</label>
              <input type="password" class="form-control col-sm-6" placeholder="Enter Password" formControlName="pwd" id="pwd">
            </div>
             <div class="form-group row">
               <label class="col-sm-6" for="Mobile">Mobile Number</label>
               <input type="Mobile" class="form-control col-sm-6" placeholder="Enter Mobile Number"formControlName="mobilenumber" id="mobile">
             </div>
            
            <button type="Submit" class="btn btn-primary" (click)="submiClick()">Submit</button>
            <button type="Cancel" class="btn btn-danger ml-2"(click)="cancelClick()">Cancel</button>
     </form>
 </div>
</div>
  