    <div class="col-sm-12">
        <div class="form-group mt-3 col-sm-3">
            <input placeholder="Enter Phone Number" class="form-control" [(ngModel)]="phoneNumber">
            <div id="recaptcha container"></div>
            <button type="submit" class="btn btn-primary form-control mt-2" (click)="sendOTP()">Send OTP</button>
          </div>
          <div class="form-group mt-3 col-sm-3">
            <input placeholder="Enter OTP" class="form-control" [(ngModel)]="otp">
            <button type="submit" class="btn btn-primary form-control mt-2 " (click)="vrifyOTP()">Verify OTP</button>
          </div>
    </div>
    