
<div class= row>
  <div class="col-sm-12">
      <h1 class=" row justify-content-center">Login Form</h1>
    <div class="row justify-content-center">
        <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="Enter email" formControlName="email" id="email">
              <small class="text-danger" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">please enter valid email</small>
             </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" formControlName="pwd" id="pwd">  
            </div>
            <button type="Login" class="btn btn-primary" (click)="onSubmit()">singIn</button>
            <button type="Register" class="btn btn-success ml-4" (click)="registerClick()">Register</button>
            <button type="mobile" class="btn btn-primary ml-4 " (click)="mobileClick()">logIn Mobile Number </button>
          </form>
    </div>
  </div>
</div>
  